@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");

:root {
	--pure-black: black;
	--nav-bg-clr: #2c2c2c;
	--text-on-header-image-clr: #13d56a;
	--quote-text-clr: #4848488e;
	--quote-clr: #636363;
}

html {
	margin: 0;
	top: 0;
	padding: 0;
}

body {
	margin: 0;
	top: 0;
	padding: 0;

	overflow-x: hidden;

	font-family: "Roboto", sans-serif;
}

li {
	list-style: none;
}

#container {
	width: 100vw;
	height: 100vh;
}

.img__wrapper {
	width: 100vw;
	height: 65vh;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.header__ship {
	width: 100vw;
	height: 65vh;
}

.header__ship:hover {
	filter: blur(2px);
}

.header__ship__on__animation {
	animation: ship-anim 1s ease-in-out forwards;
}

.check__voyage {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: none;

	text-shadow: 0 0 3px var(--pure-black);
	color: var(--text-on-header-image-clr);

	animation: header-img-text-anim 3s ease-in-out infinite;
}

.nav__area {
	width: 100vw;
	height: 10vh;

	margin-top: -16.5px;

	background-color: var(--nav-bg-clr);

	position: sticky;
	top: 0;
}

.nav__area ul {
	display: flex;
	justify-content: space-around;
	line-height: calc(10vh);
}

.nav-item {
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.nav-item:hover {
	cursor: pointer;
	text-decoration-line: underline;
}

.content__wrapper {
	width: 100vw;
	height: fit-content;

	margin-top: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote {
	font-size: 20px;
	font-weight: normal;

	color: var(--quote-text-clr);
}

.quote::before,
.quote::after {
	content: "”";
	font-size: 50px;
	font-weight: 700;

	font-family: "Noto Sans JP", sans-serif;

	color: var(--quote-clr);
}

.quote::before {
	content: "„";
}

/* offers section */

.voyages__section {
	width: 100vw;
	height: fit-content;

	margin-top: 120px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.voyage__offer__1 {
	width: fit-content;
	height: fit-content;
}

h3 {
	font-size: 24px;
}

.offer__wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
}

.voyage__offer__1 span {
	width: 400px;
	height: fit-content;

	align-self: center;
}

.voyage__offer__2 {
	width: fit-content;
	height: fit-content;
}

.voyage__offer__2 span {
	width: 400px;
	height: fit-content;

	align-self: center;
}

@keyframes header-img-text-anim {
	from {
		font-size: 16px;
	}
	50% {
		font-size: 30px;
	}
	to {
		font-size: 16px;
	}
}

@keyframes ship-anim {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(50px);
	}
}
